@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #071315;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 1000;
}

.navbar a{
    margin-left: 30px;
    text-decoration: none;
}

.navbar button {
    background-color: #42AAC0;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;
    margin-left: 30px;
}

.navbar button:hover {
    background-color: #9EDEDF;
}

.container-main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5A4480;
}

.bg-image, .bg-image img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg-image {
    pointer-events: none;
    user-select: none;
    overflow: hidden;
}

.bg-image img {
    object-fit: cover;
}

.container-main .content-text {
    position: relative;
    z-index: 1000;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.container-main .content-text a{
    text-decoration: none;
}

.container-main .content-text .main-text {
    font-size: 24px;
    padding: 80px;
}

.container-main .content-text .heading {
    font-size: 26px;
}

.container-about {
    display: grid;
    grid-template-columns: repeat(2, 512px);
    grid-template-rows: repeat(2, 213px);
    gap: 20px;
    justify-content: center;
    align-content: center; 
    margin-top: 10vh; 
}

.anime, .character, .anime-new, .manga {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 512px;
    height: 213px;
    padding: 20px;
    background-color: #8E79FF;
    box-sizing: border-box; 
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s;
}

.anime:hover, .character:hover, .anime-new:hover, .manga:hover {
    background-color: #DD7FE1;
}

.anime .text, .character .text, .anime-new .text, .manga .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.anime h2, .character h2, .anime-new h2, .manga h2 {
    font-size: 28px;
    margin-bottom: 15px;
    margin: 0 0 15px 0;
}

.anime p, .character p, .anime-new p, .manga p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

.anime img, .character img, .anime-new img, .manga img {
    width: auto; 
    height: 213px;
    object-fit: contain;
}

.footer {
    margin-top: 4%;
    background-color: #C09EDF;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 40px;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 50px;
    white-space: nowrap;
}

.social-link i {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.social-link a {
    text-decoration: none;
    margin-top: 10px;
}

.anime-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: calc(60px + 30px);
}

.anime-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 800px;
    transition: transform 0.3s ease;
}

.anime-card img {
    width: 200px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.anime-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.anime-info h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.anime-info p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.anime-card:hover {
    transform: translateY(-10px);
}

.anime-description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.anime-description.expanded {
    -webkit-line-clamp: unset; 
}

.read-more button{
    background-color: #42AAC0;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;
    margin-left: 30px;
}